<template>
    <v-container fluid mt-0 pt-1>
        <v-tabs v-model="active" fixed-tabs>
            <v-tab :key="'fall2020'" @click="getFall2020Data">Fall 2020</v-tab>
            <v-tab-item :key="'fall2020'">
                <loader v-if="!loaded && showFall2020"></loader>
                <fall2020-dashboard v-if="loaded && showFall2020"
                                 :data="fall2020Data"
                                 :loaded="loaded">
                </fall2020-dashboard>
            </v-tab-item>
        </v-tabs>
        
    </v-container>
</template>

<script>
import axios from 'axios'
import loader from '@/components/loader'
import fall2020Dashboard from '@/components/fall2020Dashboard'
export default {
    data() {
        return {
            active: 'fall2020',
            fall2020Data: [],
            loaded: false,
            showFall2020: true,
        }
    },
    methods: {
        getFall2020Data: function() {
            console.log('fall2020')
            this.loaded = false 
            this.showFall2020 = true 
            d3.csv('@/../../static/ECE315_Fall2020_EndOfCourse_Responses.csv').then(res => {
                this.fall2020Data = res
                this.loaded = true
            })
        },
    },
    components: {
       'loader': loader, 
       'fall2020-dashboard': fall2020Dashboard,
    },
    created() {
        console.log('created!')
        this.getFall2020Data();
    },
    beforeDestroy() {
        console.log('beforeDestroy')
    }
}
</script>

<style scoped>
    
</style>
