<template>
    <v-container fluid>
        <v-dialog
            v-model="showComments"
            width="600">
            <v-card>
                <v-card-title class="headline mb-0 pb-0">
                </v-card-title>
                <v-card-text>
                    <div class="pt-0 mt-0 mb-3 subheading">
                        <div>Cadets comments based on your filtering </div>
                        <div>Total Comments: 
                            <span class="title font-weight-regular">{{ filteredComments}}</span>
                        </div>
                    </div>
                    <v-card v-for="(comment,index) in comments" :key="index" class="mb-1">
                        <v-card-title class="subheading">{{ comment }}</v-card-title> 
                    </v-card>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error"
                           flat
                           @click="showComments = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-layout row>
            <div>
                <span class="title font-weight-light">Filtered Records:</span>
                <span id="count"></span> 
            </div>
            <v-spacer></v-spacer>
            <v-btn small
                   color="error"
                   @click="resetAll">
                Reset All
            </v-btn>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="distanceLearning-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Distance Learning</span>
                    </template>
                    <span>If I had a choice, I would prefer ECE 315 using distance learning</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('distanceLearning-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="flippedClassroom-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Flipped Classroom</span>
                    </template>
                    <span>If I had the choice, I would pefer to take ECE 315 using a flipped classrom style (i.e., watching lecture videos on my own then using class time to clarify confusion and work problems)</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('flippedClassroom-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="traditionalClassroom-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Traditional Classroom</span>
                    </template>
                    <span>If I had the choice, I would pefer to take ECE 315 using only traditional classroom methods</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('traditionalClassroom-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="noteTakers-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Note-Takers</span>
                    </template>
                    <span>I prefer using course-provided notetakers over making my own notes during class</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('noteTakers-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="powerPoint-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Powerpoint</span>
                    </template>
                    <span>I prefer having PowerPoint used as the primary lecture method</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('powerPoint-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="moreInvolved-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">More Involved Topics</span>
                    </template>
                    <span>If I had the choice, I would add more involved ECE principles to ECE 315</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('moreInvolved-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="lab1-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Lab 1</span>
                    </template>
                    <span>Lab 1 (DC and AC circuits) effectively illustrated the concepts taught in class</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('lab1-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="lab2-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Lab 2</span>
                    </template>
                    <span>Lab 2 (Analog Filters) effectively illustrated the concepts taught in class</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('lab2-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="lab3-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Lab 3</span>
                    </template>
                    <span>Lab 3 (Amplitude Modulation) effectively illustrated the concepts taught in class</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('lab3-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="project1-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Project 1</span>
                    </template>
                    <span>Project 1 (Power Distribution Systems) effectively illustrated the concepts taught in class</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('project1-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="project2-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Project 2</span>
                    </template>
                    <span>Project 2 (Electronic Warfare) effectively illustrated the concepts taught in class</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('project2-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="moreLabsProjects-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">More Labs and Projects</span>
                    </template>
                    <span>If I had the choice, I would add more labs or projects into ECE 315 </span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('moreLabsProjects-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="commonGRPeriod-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Common GR Period</span>
                    </template>
                    <span>If I had the choice, I would prefer taking GRs during the common GR period </span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('commonGRPeriod-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="msTeams-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Microsoft Teams</span>
                    </template>
                    <span>Microsoft Teams was an effective platform for conducting online meetings and communicating with the class</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('msTeams-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="canvas-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Canvas</span>
                    </template>
                    <span>Canvas was an effective platform for taking quizzes and tracking my grades in the class</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('canvas-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="gradescope-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Gradescope</span>
                    </template>
                    <span>Gradescope was an effective platform for turning in graded assignments and receiving the results</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('gradescope-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="hwQuizzes-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Homework Quizzes and lesson material</span>
                    </template>
                    <span>The HW quizzes and problem sets helped me better understand the lesson material</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('hwQuizzes-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="hwPrepGR-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Homework Prepping for GR</span>
                    </template>
                    <span>The HW quizzes and problem sets were a good preparation for the GRs</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('hwPrepGR-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs6 id="GR-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">GRs</span>
                    </template>
                    <span>The GRs were a good measure of my familiarity with the course material</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('GR-barchart')">Reset</v-btn>
            </v-flex>
            <v-flex xs6 id="overall-barchart">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Overall</span>
                    </template>
                    <span>Overall, I enjoyed ECE 315</span>
                </v-tooltip>
                <v-btn small
                      style="visibility: hidden"
                       class="reset"
                       color="error"
                       @click="resetChart('overall-barchart')">Reset</v-btn>
            </v-flex>
        </v-layout>

        <!--comments next-->

        <v-layout row>
            <v-flex xs6 id="mostLiked">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Most Liked</span>
                    </template>
                    <span>What I liked most about ECE 315</span>
                </v-tooltip>
                <v-btn small
                       color="primary"
                       @click.stop="seeComments('mostLiked')">Comments</v-btn>
            </v-flex>
            <v-flex xs6 id="change">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <span v-on="on" class="headline">Change </span>
                    </template>
                    <span>What I think should be changed about ECE 315</span>
                </v-tooltip>
                <v-btn small
                       color="primary"
                       @click.stop="seeComments('change')">Comments</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            likertOrdering: {
                "Strongly Disagree": 1,
                "Disagree": 2,
                "Somewhat Disagree": 3,
                "Neither Agree nor Disagree": 4,
                "Neither Agree or Disagree": 5,
                "Somewhat Agree": 6,
                "Agree": 7,
                "Strongly Agree": 8,
                "No Response": 9
            },
            showComments: false,
            activeQuestion: '',
            comments: [],
            commentFilters: [],
            filteredResponses: 0,
            filteredComments: 0,
        }
    },
    props: {
        data: {
            type: Array,
            required: true,
        },
        loaded: {
            type: Boolean,
            required: true,
        },
    },
    computed: {
        ndx: function() {
            return crossfilter(this.data) 
        },
    },
    watch: {
        showComments: function(val) {
            if (val == false) {
                this.activeQuestion = ''
                this.comments = []
                this.filteredResponses = 0
                this.filteredComments = 0
                this.commentFilters = []
            }
        }   
    },
    methods: {
        resetAll: function() {
            dc.filterAll()
            dc.redrawAll()
        },
        resetChart: function(id) {
            dc.chartRegistry.list().filter((chart) => {
                return chart.anchorName() == id
            }).forEach((chart) => {
                chart.filterAll()
            }) 
            dc.redrawAll()
        },
        handleNoResponse: function(element) {
            return element || 'No Response';   
        },
        seeComments: function(question) {
            //show dialog
            this.showComments = true   
            //build variables
            this.activeQuestion = question
            var allFiltered = this.ndx.allFiltered()
            this.comments = allFiltered.map((d) => {
                return d[question]
            })
            this.filteredComments = this.comments.length
        },
        noResponseOrdering: function(element) {
            return element.key === 'No Response' ? 'ZZZ' : element.key;   
        },
        drawCharts: function() {
            var count = this.ndx.groupAll().reduceCount();
            var countND = dc.numberDisplay("#count")
            countND.group(count)
                .formatNumber(d3.format("d"))
                .valueAccessor(d => d)
                .html({
                    one:"<span style=\"color:steelblue; font-size: 20px;\">%number</span>"
                });

            var commonHeight = 300
            var commonMargin = {top: 10, right: 10, bottom: 100, left: 10}


            var distanceLearningChart = dc.barChart('#distanceLearning-barchart')
            var distanceLearningDim = this.ndx.dimension(d => this.handleNoResponse(d.distanceLearning))
            var distanceLearningGroup = distanceLearningDim.group().reduceCount();
            distanceLearningChart
            .height(commonHeight)
            .dimension(distanceLearningDim)
            .group(distanceLearningGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering(d => this.likertOrdering[d.key])
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var flippedClassroomChart = dc.barChart('#flippedClassroom-barchart')
            var flippedClassroomMargins = {top: 10, right: 10, bottom: 60, left: 40}
            var flippedClassroomDim = this.ndx.dimension(d => this.handleNoResponse(d.flippedClassroom))
            var flippedClassroomGroup = flippedClassroomDim.group().reduceCount();
            flippedClassroomChart
            .height(commonHeight)
            .dimension(flippedClassroomDim)
            .group(flippedClassroomGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering(d => this.likertOrdering[d.key])
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var traditionalClassroomChart = dc.barChart('#traditionalClassroom-barchart')
            var traditionalClassroomDim = this.ndx.dimension(d => this.handleNoResponse(d.traditionalClassroom))
            var traditionalClassroomGroup = traditionalClassroomDim.group().reduceCount();
            traditionalClassroomChart
            .height(commonHeight)
            .dimension(traditionalClassroomDim)
            .group(traditionalClassroomGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering(d => this.likertOrdering[d.key])
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var noteTakersChart = dc.barChart('#noteTakers-barchart')
            var noteTakersDim = this.ndx.dimension(d => this.handleNoResponse(d.noteTakers))
            var noteTakersGroup = noteTakersDim.group().reduceCount();
            noteTakersChart
            .height(commonHeight)
            .dimension(noteTakersDim)
            .group(noteTakersGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering(d => this.likertOrdering[d.key])
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var powerPointChart = dc.barChart('#powerPoint-barchart')
            var powerPointDim = this.ndx.dimension(d => this.handleNoResponse(d.powerpoint))
            var powerPointGroup = powerPointDim.group().reduceCount();
            powerPointChart
            .height(commonHeight)
            .dimension(powerPointDim)
            .group(powerPointGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var moreInvolvedChart = dc.barChart('#moreInvolved-barchart')
            var moreInvolvedDim = this.ndx.dimension(d => this.handleNoResponse(d.moreInvolved))
            var moreInvolvedGroup = moreInvolvedDim.group().reduceCount();
            moreInvolvedChart
            .height(commonHeight)
            .dimension(moreInvolvedDim)
            .group(moreInvolvedGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var lab1Chart = dc.barChart('#lab1-barchart')
            var lab1Dim = this.ndx.dimension(d => this.handleNoResponse(d.lab1))
            var lab1Group = lab1Dim.group().reduceCount();
            lab1Chart
            .height(commonHeight)
            .dimension(lab1Dim)
            .group(lab1Group)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var lab2Chart = dc.barChart('#lab2-barchart')
            var lab2Dim = this.ndx.dimension(d => this.handleNoResponse(d.lab2))
            var lab2Group = lab2Dim.group().reduceCount();
            lab2Chart
            .height(commonHeight)
            .dimension(lab2Dim)
            .group(lab2Group)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var lab3Chart = dc.barChart('#lab3-barchart')
            var lab3Dim = this.ndx.dimension(d => this.handleNoResponse(d.lab3))
            var lab3Group = lab3Dim.group().reduceCount();
            lab3Chart
            .height(commonHeight)
            .dimension(lab3Dim)
            .group(lab3Group)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var project1Chart = dc.barChart('#project1-barchart')
            var project1Dim = this.ndx.dimension(d => this.handleNoResponse(d.project1))
            var project1Group = project1Dim.group().reduceCount();
            project1Chart
            .height(commonHeight)
            .dimension(project1Dim)
            .group(project1Group)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var project2Chart = dc.barChart('#project2-barchart')
            var project2Dim = this.ndx.dimension(d => this.handleNoResponse(d.project2))
            var project2Group = project2Dim.group().reduceCount();
            project2Chart
            .height(commonHeight)
            .dimension(project2Dim)
            .group(project2Group)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var moreLabsProjectsChart = dc.barChart('#moreLabsProjects-barchart')
            var moreLabsProjectsDim = this.ndx.dimension(d => this.handleNoResponse(d.moreLabsProjects))
            var moreLabsProjectsGroup = moreLabsProjectsDim.group().reduceCount();
            moreLabsProjectsChart
            .height(commonHeight)
            .dimension(moreLabsProjectsDim)
            .group(moreLabsProjectsGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var commonGRPeriodChart = dc.barChart('#commonGRPeriod-barchart')
            var commonGRPeriodDim = this.ndx.dimension(d => this.handleNoResponse(d.commonGRPeriod))
            var commonGRPeriodGroup = commonGRPeriodDim.group().reduceCount();
            commonGRPeriodChart
            .height(commonHeight)
            .dimension(commonGRPeriodDim)
            .group(commonGRPeriodGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var msTeamsChart = dc.barChart('#msTeams-barchart')
            var msTeamsDim = this.ndx.dimension(d => this.handleNoResponse(d.msTeams))
            var msTeamsGroup = msTeamsDim.group().reduceCount();
            msTeamsChart
            .height(commonHeight)
            .dimension(msTeamsDim)
            .group(msTeamsGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var canvasChart = dc.barChart('#canvas-barchart')
            var canvasDim = this.ndx.dimension(d => this.handleNoResponse(d.canvas))
            var canvasGroup = canvasDim.group().reduceCount();
            canvasChart
            .height(commonHeight)
            .dimension(canvasDim)
            .group(canvasGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var gradescopeChart = dc.barChart('#gradescope-barchart')
            var gradescopeDim = this.ndx.dimension(d => this.handleNoResponse(d.gradescope))
            var gradescopeGroup = gradescopeDim.group().reduceCount();
            gradescopeChart
            .height(commonHeight)
            .dimension(gradescopeDim)
            .group(gradescopeGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var hwQuizzesChart = dc.barChart('#hwQuizzes-barchart')
            var hwQuizzesDim = this.ndx.dimension(d => this.handleNoResponse(d.hwQuizzes))
            var hwQuizzesGroup = hwQuizzesDim.group().reduceCount();
            hwQuizzesChart
            .height(commonHeight)
            .dimension(hwQuizzesDim)
            .group(hwQuizzesGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var hwPrepGRChart = dc.barChart('#hwPrepGR-barchart')
            var hwPrepGRDim = this.ndx.dimension(d => this.handleNoResponse(d.hwPrepGR))
            var hwPrepGRGroup = hwPrepGRDim.group().reduceCount();
            hwPrepGRChart
            .height(commonHeight)
            .dimension(hwPrepGRDim)
            .group(hwPrepGRGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var GRChart = dc.barChart('#GR-barchart')
            var GRDim = this.ndx.dimension(d => this.handleNoResponse(d.GR))
            var GRGroup = GRDim.group().reduceCount();
            GRChart
            .height(commonHeight)
            .dimension(GRDim)
            .group(GRGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

            var overallChart = dc.barChart('#overall-barchart')
            var overallDim = this.ndx.dimension(d => this.handleNoResponse(d.overall))
            var overallGroup = overallDim.group().reduceCount();
            overallChart
            .height(commonHeight)
            .dimension(overallDim)
            .group(overallGroup)
            .margins(commonMargin)
            .x(d3.scaleBand())
            .xUnits(dc.units.ordinal)
            .brushOn(false)
            .elasticY(true)
            .yAxisLabel("Count")
            .controlsUseVisibility(true)
            .ordering((d) => {
                return this.likertOrdering[d.key]
            })
            .on('pretransition',(chart) => {
                chart.selectAll('g.x text')
                     .attr('text-anchor',"end")
                     .attr('transform',"translate(-8,0)rotate(-45)");
            });

        }
    },
    mounted() {
        this.drawCharts()
        dc.renderAll();
        dc.redrawAll();
        console.log('mounted entryDashboard')
    }
}
</script>

<style src="@/../node_modules/dc/dc.css"></style>
<style scoped>
</style>
