<template>
    <v-container grid-list-md>
        <v-layout row mb-4>
            <div class="title">ECE 315 Course Critiques Dashboard</div>
        </v-layout>
    </v-container>

</template>

<script>
export default {
    
}

</script>


<style scoped>

</style>
