<template>
    <v-app id="app">
        <v-toolbar dark color="primary">
            <v-toolbar-title>ECE 315 Course Critique Dashboard</v-toolbar-title>
            <v-spacer></v-spacer> 
            <v-toolbar-items>
                <v-btn flat to="/" router>Home</v-btn> 
            </v-toolbar-items>
        </v-toolbar>
        <main>
            <router-view></router-view>
        </main>
    </v-app>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
}
</style>
